<div class="shell-padding">
  <div class="container">
    <!-- Section Header -->
    <div class="row justify-content-between section-header">
      <div>
        <span><i class="fas fa-home icon-pad"></i>Grinds Tracker</span>
      </div>
      <div>
        {{ dateObj | date:'fullDate' }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 section-content">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select a rune
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a *ngFor="let rune of runeTypes" class="dropdown-item">{{rune}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>