<div class="shell-padding">
  <div class="container-fluid">
    <!-- Section Header -->
    <div class="row justify-content-between section-header">
      <div>
        <span><i class="fas fa-home icon-pad"></i>Grinds Tracker</span>
      </div>
      <div>
        {{ dateObj | date:'fullDate' }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 section-content">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownRuneLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{runeSelected}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownRuneLink">
            <a *ngFor="let rune of runeTypes" (click)="setRuneSelected(rune)" class="dropdown-item">{{rune}}</a>
          </div>
        </div>
      </div>
      <div class="col-6 section-content">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownStatLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{statSelected}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownStatLink">
            <a *ngFor="let stat of statTypes" (click)="setStatSelected(stat)" class="dropdown-item">{{stat}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 section-content">
        <ul class="list-group">
          <li *ngFor="let rune of runesFound" class="list-group-item">{{rune.value}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>