<div class="shell-padding">
  <div class="container-fluid">
    <!-- Section Header -->
    <div class="row justify-content-between section-header">
      <div>
        <span><i class="fas fa-home icon-pad"></i>My Runes</span>
      </div>
      <div>
        {{ dateObj | date:'fullDate' }}
      </div>
    </div>
    <!-- Select new Data -->
    <div class="row">
      <div class="col-12 section-content">
        <input class="text-right" type="file" id="file" name="file" accept=".json" (change)="onChange($event)">
      </div>
    </div>
    <!-- Sub Menu -->
    <div class="row">
      <div (click)="doIt()" class="col-md-6 section-content">
        Only Legend Runes will be displayed
      </div>
      <div class="col-md-6 section-content">
        Show Equipped Runes on/off
      </div>
    </div>
    <!-- Rune Data -->
    <div class="row">
      <!-- <table class="table section-content">
        <thead class="thead-light">
          <tr>
            <th scope="col">Slot</th>
            <th scope="col">Type</th>
            <th scope="col">Stat</th>
            <th scope="col">Inate</th>
            <th scope="col">Stats</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rune of runeDataActive">
            <td>{{rune.slot_no}}</td>
            <td>{{rune.set_id}}</td>
            <td>{{rune.primary_stat.type}}</td>
            <td>{{rune.inate_stat.type}}</td>
            <td>{{rune.sub_stats}}</td>
          </tr>
        </tbody>
      </table> -->
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="slot_no">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Slot # </th>
          <td mat-cell *matCellDef="let element"> {{element.slot_no}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="set_id">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Rune Type </th>
          <td mat-cell *matCellDef="let element"> {{element.set_id}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="primary_stat.type">
          <th mat-header-cell *matHeaderCellDef> Stat Type </th>
          <td mat-cell *matCellDef="let element"> {{element.primary_stat.type}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="inate_stat.type">
          <th mat-header-cell *matHeaderCellDef> Inate Stat </th>
          <td mat-cell *matCellDef="let element"> {{element.inate_stat.type}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>