<div class="shell-padding">
  <div class="container">
    <!-- Section Header -->
    <div class="row justify-content-between section-header">
      <div>
        <span><i class="fas fa-home icon-pad"></i>My Runes</span>
      </div>
      <div>
        {{ dateObj | date:'fullDate' }}
      </div>
    </div>
    <!-- Select new Data -->
    <div class="row">
      <div class="col-md-6 section-content">
        <input class="text-right" type="file" id="file" name="file" accept=".json" (change)="onChange($event)">
      </div>
      <div class="col-md-6 section-content">
        Only Legend Base Quality Rune Shown
      </div>
    </div>
    <!-- Sub Menu -->
    <div class="row">
      <div class="col-md-6 section-content">
        Use Space Separator to filter by
        RuneType StatType InateStat
      </div>
      <div class="col-md-6 section-content">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option1" autocomplete="off"> Both
          </label>
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option2" autocomplete="off" checked> Inventory
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> Equipped
          </label>
        </div>
      </div>
    </div>
    <!-- Rune Data -->
    <div class="row">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> {{column}} </th>
          <td [ngClass]="column == 'efficiency'? getEffColor(element.efficiency) : null" mat-cell *matCellDef="let element">
            {{element[column]}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="col-md-6">
                <h5>Useability Analysis</h5>
                <p>Spd - </p>
                <p>Stats - </p>
                <p>Efficiency - </p>
                <p>Reapp Priority - </p>
                <button type="button" class="btn btn-primary fas fa-sync fa-2x"></button> Reapp
              </div>
              <ul class="list-group col-md-6">
                <li class="grey list-group-item d-flex justify-content-center align-items-center">
                  <div class="flex-fill">{{element.inate_stat_type}}</div>
                  <div class="w-25 text-right">+ {{element.inate_stat_value}} {{getType(element.inate_stat_type)}}</div>
                  <div class="w-25 text-right">Grinds</div>
                </li>
                <li class="list-group-item d-flex justify-content-center align-items-center">
                  <div class="flex-fill">{{element.sub_stats[0].type}} <span [innerHTML]="isGem(element.sub_stats[0].gem)"></span></div>
                  <div class="w-25 text-right">+ {{element.sub_stats[0].value}} {{getType(element.sub_stats[0].type)}}</div>
                  <div class="w-25 text-right"> + {{element.sub_stats[0].grind}} {{getType(element.sub_stats[0].type)}}</div>
                </li>
                <li class="list-group-item d-flex justify-content-center align-items-center">
                  <div class="flex-fill">{{element.sub_stats[1].type}} <span [innerHTML]="isGem(element.sub_stats[1].gem)"></span></div>
                  <div class="w-25 text-right">+ {{element.sub_stats[1].value}} {{getType(element.sub_stats[1].type)}}</div>
                  <div class="w-25 text-right"> + {{element.sub_stats[1].grind}} {{getType(element.sub_stats[1].type)}}</div>
                </li>
                <li class="list-group-item d-flex justify-content-center align-items-center">
                  <div class="flex-fill">{{element.sub_stats[2].type}} <span [innerHTML]="isGem(element.sub_stats[2].gem)"></span></div>
                  <div class="w-25 text-right">+ {{element.sub_stats[2].value}} {{getType(element.sub_stats[2].type)}}</div>
                  <div class="w-25 text-right"> + {{element.sub_stats[2].grind}} {{getType(element.sub_stats[2].type)}}</div>
                </li>
                <li class="list-group-item d-flex justify-content-center align-items-center">
                  <div class="flex-fill">{{element.sub_stats[3].type}} <span [innerHTML]="isGem(element.sub_stats[3].gem)"></span></div>
                  <div class="w-25 text-right">+ {{element.sub_stats[3].value}} {{getType(element.sub_stats[3].type)}}</div>
                  <div class="w-25 text-right"> + {{element.sub_stats[3].grind}} {{getType(element.sub_stats[3].type)}}</div>
                </li>
              </ul>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

    </div>
  </div>
</div>`