<div class="shell-padding">
  <div class="container-fluid">
    <!-- Section Header -->
    <div class="row justify-content-between section-header">
      <div>
        <span><i class="fas fa-home icon-pad"></i>Team Analysis</span>
      </div>
      <div>
        {{ dateObj | date:'fullDate' }}
      </div>
    </div>
    <!-- Section Content -->
    <div class="row justify-content-between">
      <!-- Mon Select -->
      <div class="col-6 section-content">
        <form class="">
          <mat-form-field class="">
            <input #monster type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <button (click)="addMonster(monster.value)"></button>
      </div>
      <div class="col-3 section-content">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{glorySpeedCur | number}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let spd of glorySpeed" (click)="setGlorySpeed(spd)" class="dropdown-item">{{spd}}</a>
          </div>
        </div>
      </div>
      <div class="col-3 section-content">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{speedLeadCur | number}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let spd of speedLead" (click)="setSpeedLead(spd)" class="dropdown-item">{{spd}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- Monster Selected-->
      <ul *ngFor="let monster of monstersSelected" class="col-md-3 section-content list-group">
        <li class="list-group-item">
          <div>{{getUnitName(monster.unit_master_id)}}</div>
        </li>
        <li class="list-group-item" data-toggle="collapse" href="#tick-rate">
          <div>Speed: {{monster.spd + (monster.spd * (glorySpeedCur + speedLeadCur) / 100) +
            getUnitRuneSpeed(monster) | number}} | Tick: {{getTickRate(monster.spd + (monster.spd * (glorySpeedCur +
            speedLeadCur) / 100) +
            getUnitRuneSpeed(monster))}}</div>
          <div class="collapse" id="tick-rate">
            <div class="progress" style="height: 20px;">
              <div class="progress-bar" role="progressbar" [style.width]="getTickPercent(monster.spd + (monster.spd * (glorySpeedCur + speedLeadCur) / 100) + getUnitRuneSpeed(monster)) + '%'">
                +{{getTickCalc(monster.spd + (monster.spd * (glorySpeedCur + speedLeadCur) / 100) +
                getUnitRuneSpeed(monster), 0) | number}}</div>
              <div class="progress-bar-right">-{{getTickCalc(monster.spd + (monster.spd * (glorySpeedCur +
                speedLeadCur) / 100) + getUnitRuneSpeed(monster), 1) | number}}</div>
            </div>
          </div>
        </li>
        <li class="list-group-item" data-toggle="collapse" href="#base-stats">
          <div>Base Speed: {{monster.spd}}</div>
          <div class="collapse" id="base-stats">
            <div>HP: {{monster.con * 15}}</div>
            <div>ATT: {{monster.atk}}</div>
            <div>DEF: {{monster.def}}</div>
            <div>SPD: {{monster.spd}}</div>
            <div>Crit: {{monster.critical_rate}}</div>
            <div>CDmg: {{monster.critical_damage}}</div>
            <div>Res: {{monster.resist}}</div>
            <div>Acc: {{monster.accuracy}}</div>
          </div>
        <li class="list-group-item" data-toggle="collapse" href="#rune-stats">
          <div>Rune Speed: +{{getUnitRuneSpeed(monster)}}</div>
          <div class="collapse" id="rune-stats">
            <div *ngFor="let rune of monster.runes">
              {{rune.base_value}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>