<div class="shell-padding">
  <div class="container-fluid">
    <!-- Section Header -->
    <div class="row justify-content-between section-header">
      <div>
        <span><i class="fas fa-home icon-pad"></i>Team Analysis</span>
      </div>
      <div>
        {{ dateObj | date:'fullDate' }}
      </div>
    </div>
    <!-- Section Content -->
    <div class="row justify-content-between">
      <div class="col-12 section-content">
        <!-- Mon 1 -->
        <form class="">
          <mat-form-field class="">
            <input #monster type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <button (click)="addMonster(monster.value)"></button>
      </div>
    </div>
  </div>
</div>