<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/calculator">Home</a>
  <div *ngIf="0" class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Updates <span class="badge badge-light">{{updateCount}}</span>
      <span class="sr-only">unread updates</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a *ngFor="let update of updates" class="dropdown-item" href="#">Update Notes</a>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/calculator">Calculator</a>
      <a class="nav-item nav-link" routerLink="/myRunes">My Runes</a>
      <a class="nav-item nav-link" routerLink="/analysis">Analysis</a>
      <a class="nav-item nav-link" routerLink="/tickRate">Tick Rate</a>
      <a class="nav-item nav-link" routerLink="/grindsTracker">Grinds Tracker</a>
      <a class="nav-item nav-link" routerLink="/teamAnalysis">Team Analysis</a>
    </div>
  </div>
</nav>
<!-- Container for all Content -->
<router-outlet></router-outlet>