<div class="shell-padding">
  <div class="container-fluid">
    <!-- Section Header -->
    <div class="row justify-content-between section-header">
      <div>
        <span><i class="fas fa-home icon-pad"></i>Dashboard</span>
      </div>
      <div>
        {{ dateObj | date:'fullDate' }}
      </div>
    </div>
    <!-- Section Content -->
    <div class="row">
      <!-- User Profile -->
      <div class="col-xl-6 section-content">
        <div class="row">
          <div class="col-12">
            <span><i class="fas fa-user icon-pad"></i>Allen Li</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="row text-right">
              <div class="col-12">
                <h3>35.5</h3>
              </div>
              <div class="col-12">
                <h5>Hours</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row text-right">
              <div class="col-12">
                <h3>35.5</h3>
              </div>
              <div class="col-12">
                <h5>Hours</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row text-right">
              <div class="col-12">
                <h3>35.5</h3>
              </div>
              <div class="col-12">
                <h5>Hours</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row text-right">
              <div class="col-12">
                <h3>35.5</h3>
              </div>
              <div class="col-12">
                <h5>Hours</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Rune Select -->
      <div class="col-md-6 section-content shift-card">
        <div class="row">
          <div class="col-12">
            <span><i class="fas fa-filter icon-pad"></i>Slot Select</span>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Slot 1
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Slot 2
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Slot 3
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Slot 4
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Slot 5
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Slot 6
              </li>
            </ul>
          </div>
          <div class="col-8">
            <h5>{{slotSelected}}</h5>
            <img alt="selected slot">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>